h4 {
  outline: none;
  text-decoration: underline;
  text-transform: uppercase;
  background-position: center;
  font-size: x-large;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 1;
  color: rgb(95, 14, 116);
}

p {
  background-position:  center;
  text-decoration: double;
  font-size: large;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 1;
  color: chocolate;
}
