button {
  display: inline-block;
  background-color: #940781;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  line-height: 3;
  font-size: 10px;
  padding: 10px;
  width: 200px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: green;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover {
  background-color: #0e0ace;
}
button:hover span {
  padding-right: 25px;
}
button:hover span:after {
  opacity: 1;
  right: 0;
}

label {
  outline: none;
  display: inline-block;
  text-decoration: underline;
  text-transform: uppercase;
  background-position: center;
  line-height: 3;
  color: rgb(19, 94, 207);
  margin-right: 15px;
}


input {
  outline: none;
  text-decoration: none;
  background-position: center;
  font-size: large;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: rgb(22, 9, 134);
}
