<br>
<div>
  <input type="text" [(ngModel)]="name"> &nbsp;
  <input min="0" type="number" [(ngModel)]="age"> &nbsp;
  <button [disabled]="name == '' || age == undefined" (click)="addUser()">Add User</button>
</div>
<div>
  <table>
    <tr>
      <th>Nom</th>
      <th>Age</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
      <td>
        <button (click)="removeUser(users.indexOf(user))">Delete</button>
      </td>
    </tr>
  </table>
</div>
